# Игнорировать файлы виртуального окружения
venv/

# Игнорировать миграции базы данных
**/migrations/

# Игнорировать файлы сборки
__pycache__/
*.pyc
*.pyo

# Игнорировать локальные настройки
local_settings.py